.playlist__container {
    margin-left: 3rem;
    border: black solid 2px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;
}

.playlist__container ul {
    padding-left: 0;
    width: 250px;
}

.hidden {
    display: none;
}

.menuBtn {
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 2rem;
}
